.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 984px;
  margin: auto;
}

.header__logo {
  width: 32px;
  height: 32px;
}

.header__logo-title {
  margin-top: 22px;
  font-size: 0.75rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  text-align: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 91px;
  font-style: normal;
  text-align: center;
}

.header__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
}

.header__subtitle {
  max-width: 720px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.2;
}

.header__image {
  width: 100%;
  max-width: 984px;
  height: 615px;
  max-height: 615px;
  margin-top: 64px;
  object-fit: cover;
}

/* @media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    height: 921px;
  }

  .header__logo {
    width: 32px;
    height: 30px;
  }

  .header__logo-title {
    margin-top: 21px;
  }

  .header__content {
    margin-top: 90px;
  }

  .header__title {
    max-width: 530px;
    font-size: 4.6875rem;
    line-height: 1.05;
  }

  .header__subtitle {
    max-width: 720px;
    margin-top: 25px;
  }

  .header__image {
    width: 100vw;
    max-width: 768px;
    height: 480px;
    margin-top: 30px;
  }
}
 */
