.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.header__logo {
  height: 32px;
  width: 32px;
  margin-top: 34px;
}

.header__logo-title {
  margin-top: 22px;
  font-size: 12px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 91px;
  font-style: normal;
  text-align: center;
  font-style: normal;
}

.header__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.header__subtitle {
  max-width: 720px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.header__image {
  height: 615px;
  width: 984px;
  margin-top: 64px;
}
