.intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 830px;
  height: 607px;
  margin-top: 92px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.42;
}

.intro__title {
  max-width: 830px;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.07;
}

.intro__quote {
  max-width: 738px;
  margin-top: 40px;
}

.intro__author {
  margin-top: 10px;
  max-width: 732px;
  padding-right: 6px;
  text-align: end;
}

.intro__main-text {
  max-width: 722px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.63;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    height: 573px;
    margin-top: 90px;
  }

  .intro__title {
    max-width: 707px;
    font-size: 2.8125rem;
    line-height: 1.08;
  }

  .intro__quote {
    max-width: 720px;
    margin-top: 50px;
  }

  .intro__author {
    max-width: 720px;
    margin-top: 0px;
    padding: 0;
  }

  .intro__main-text {
    max-width: 720px;
  }
}
