.intro {
  display: flex;
  flex-direction: column;
  max-width: 830px;
  max-height: 607px;
  margin-top: 92px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.42;
}

.intro__title {
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.07;
}

.intro__quote {
  max-width: 738px;
  margin-top: 40px;
}

.intro__author {
  margin-top: 10px;
  max-width: 732px;
  text-align: end;
}

.intro__main-text {
  max-width: 722px;
  margin-top: 32px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.63;
}
