*,
a,
p,
h1,
h2,
h3,
h4,
h5 {
  box-sizing: border-box;
  margin: 0;
}

.page {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  background-color: #2a2c2f;
  margin: auto;
  padding: 34px 148px 24px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
    padding: 30px 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    padding: 20px 16px 24px;
  }
}
