.places {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-top: 92px;
  padding-inline: 148px;
}

.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 460px auto;
  grid-template-areas:
    "place__title place__artists"
    "place__image place__description"
    "place__button place__description";
  gap: 48px 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.place__title {
  font-weight: 900;
  font-size: 4em;
  line-height: 1.055;
  grid-area: place__title;
}

.place__artists {
  display: flex;
  flex-direction: column;
  justify-content: end;
  grid-area: place__artists;
}

.place__artists-title {
  font-size: 0.666em;
  line-height: 1.25;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #aaaaaa;
}

.place__artists-list {
  margin-top: 8px;
  padding: 0;
}

.place__artists-item {
  list-style: none;
}

.place__image {
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  grid-area: place__image;
}

.place__image:hover {
  background-color: #000;
  opacity: 50%;
  cursor: pointer;
}

.place__description {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  grid-area: place__description;
}

.place__paragraph {
  line-height: 1.63;
}

.place__button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 289px;
  height: 48px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-align: center;
  grid-area: place__button;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

@media screen and (max-width: 768px) {
  .places {
    row-gap: 72px;
    margin-top: 88px;
    padding-inline: 24px;
  }

  .place {
    max-width: 768px;
    grid-template-rows: auto 340px auto;
    gap: 48px 28px;
  }

  .place__title {
    font-size: 2.333em;
    line-height: 1.095;
  }
}

@media screen and (max-width: 320px) {
  .places {
    row-gap: 50px;
    margin-top: 62px;
    padding-inline: 0;
  }
  .place {
    max-width: 320px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "place__title"
      "place__artists"
      "place__image"
      "place__description"
      "place__button";
    row-gap: 30px;
  }

  .place__title {
    padding-inline: 16px;
    font-size: 1.777em;
    line-height: 1.09;
  }

  .place__artists {
    padding-inline: 16px;
  }

  .place__description {
    padding-inline: 16px;
  }

  .place__button {
    padding-inline: 16px;
    margin-inline: auto;
    font-size: 0.777em;
    line-height: 1.21;
  }
}
